@model IEnumerable<Hotel.Models.Room>

@{
    ViewBag.Title = "Searched";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms are satisfy your requirements</h2>

@if (User.Identity.Name.Equals("akkassov.ayan@gmail.com"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateFrom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateTo)
    </td>
    @if (User.Identity.Name.Equals("akkassov.ayan@gmail.com"))
    {

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink("Book Room", "Details", new { id = item.Id })
        </td>
    }
</tr>
    }

</table>
